body {
  background-color: rgb(242, 176, 199);
}
h1 {
  text-align: center;
}

p {
  display: block;
}

footer {
  text-align: center;
  display: block;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer a {
  margin: 0 10px;
  color: blue;
}
